%head

  %meta{ :charset => "utf-8" }
  %meta{ :name => "language", :content => "en" }
  %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
  %meta{ content: "width=device-width", name: "viewport" }

  %title Sizrizr
  = stylesheet_link_tag "site"

  = javascript_include_tag 'sizrizr'
  = javascript_include_tag 'example'